name: Build and test

on:
  push:
    tags:
      - "v*"
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  docs:
    name:  docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: pages
        uses: actions/configure-pages@v3
      - run:  cargo doc --no-deps --all-features
      - uses: actions/upload-artifact@v2
        with:
          path: target/doc
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@1.75.0
    - name: Check
      run: |
        rustup component add clippy
        cargo clippy --no-deps
    - name: Build
      run: cargo build --release
    - name: Test
      run: cargo test
  publish:
    if: startsWith( github.ref, 'refs/tags/v' )
    uses: ./.github/workflows/publish.yaml
    needs: ci
    secrets: inherit