name: Publish to crates.io

on:
  workflow_call:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@1.75.0
    - name: Publish to crates.io.
      run: |
        cargo publish --token ${CRATES_TOKEN} -p qm-utils-derive
        cargo publish --token ${CRATES_TOKEN} -p qm-utils
        cargo publish --token ${CRATES_TOKEN} -p qm-role-build
        cargo publish --token ${CRATES_TOKEN} -p qm-role
        cargo publish --token ${CRATES_TOKEN} -p qm-pg
        cargo publish --token ${CRATES_TOKEN} -p qm-redis
        cargo publish --token ${CRATES_TOKEN} -p qm-mongodb
        cargo publish --token ${CRATES_TOKEN} -p qm-s3
        cargo publish --token ${CRATES_TOKEN} -p qm-kafka
        cargo publish --token ${CRATES_TOKEN} -p qm-keycloak
        cargo publish --token ${CRATES_TOKEN} -p qm-entity-derive
        cargo publish --token ${CRATES_TOKEN} -p qm-entity
        cargo publish --token ${CRATES_TOKEN} -p qm-customer
        cargo publish --token ${CRATES_TOKEN} -p qm-server
        cargo publish --token ${CRATES_TOKEN} -p qm
      env:
        CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
        SQLX_OFFLINE: true
  release:
      name: Release
      runs-on: ubuntu-latest
      needs: publish
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Release
          uses: actions/create-release@latest
          env:
            GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          with:
            tag_name: ${{ github.ref }}
            release_name: ${{ github.ref }}
            draft: true
            prerelease: false